html {
    height: 100%;
}

body {
    height: 100%;
    /*background-image: url(../svg/background-combined.svg);*/
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
    font-family: 'Open Sans';
    font-style: normal;
}

#slideshow {
    -webkit-animation-name: background;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes background {
    0% {
        background-image: url(../svg/background-combined.svg);
    }
    100% {
        background-image: url(../svg/background-combined2.svg);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-submenu {
    display: flex;
    padding-left: 20px;
    font-size: 24px;
    color: #F7E8B7;
}

.header-submenu-element {
    padding-left: 20px;
    padding-right: 20px;
}

.header-submenu-icon {
    padding-left: 10px;
}

.header-submenu-active {
    font-weight: 800;
}

.app-name {
    font-size: 64px;
    font-weight: 800;
    color: #F7E8B7;
}

.app-description {
    font-size: 22px;
    font-weight: 600;
    color: #F27127;
}

.header-column {
    padding-top: 3%;
}
.owl-row {
    display: flex;
}

.header-card {
    height: 48px;
    width: 668px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDFBEF !important;
    border: 1px solid #F27127;
    border-radius: 14px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.header-text {
    font-size: 20px;
    font-weight: 400;
}

.container {
    height: inherit;
    width: inherit;
}

.cards-row {
    padding-bottom: 4.5%;
}

.card {
    width: 400px;
    border-color: #FFF7CA !important;
    background-color: transparent !important;
    border-radius: 14px !important;
    height: 76px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.first-col {
    display: flex;
    justify-content: flex-end;
}

.create-button-box {
    padding-right: 20px;
}

.create-button {
    font-weight: 700 !important;
    font-size: 24px !important;
    background-color: #F27127 !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    color: #FFF7CA !important;
    height: 52px !important;
    width: 400px !important;
    border-color: #FFF7CA !important;
    border-radius: 15px !important;
}

.create-button:hover {
    font-weight: 700 !important;
    font-size: 24px !important;
    background-color: #2B1A08 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF7CA !important;
    height: 48px !important;
    width: 400px !important;
    border-color: #FFF7CA !important;
    border-radius: 15px !important;
}

.card-body {
    display: flex;
    justify-content: space-between;
    background-color: #FDFBEF !important;
    border-radius: 14px !important;
    align-items: center;
}

.card-body-filled {
    background-color: #FDFBEF !important;
}

.text {
    max-width: 290px;
    color: black;
}

.badge {
    font-size: 20px !important;
    color: black !important;
}

.badge-with-icon {
    display: flex;
}

.form-row {
    display: flex;
    justify-content: center;
}

.form-col {
    border-radius: 15px;
    background-color: #FDFBEF;
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin: 37px;
}

.flex-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.nick-input {
    width: 100%;
    height: 52px;
    background-color: #FDFBEF;
    border-radius: 15px;
    border: 1px solid #2B1A08;
    padding-left: 10px;
}

.nick {
    flex: 2 1 auto;
}

.info-group {
    padding-left: 10%;
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject-input {
    width: 100%;
    height: 52px;
    background-color: #FDFBEF;
    border-radius: 15px;
    border: 1px solid #2B1A08;
    padding-left: 10px;
}

.description-area {
    width: 100%;
    height: 134px;
    background-color: #FDFBEF;
    border-radius: 15px;
    border: 1px solid #2B1A08;
    margin-bottom: 2%;
    padding-left: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info-icon {
    padding-left: 10px;
}

.info-label {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
}

.info-text {
    display: flex;
    font-weight: 400;
    font-size: 20px;
}

.left-right {
    left: 37px
}

.button-group {
    display: flex;
    align-self: flex-end;
    column-gap: 20px;
}

.button-send-invalid {
    width: 154px;
    height: 48px;
    border: 1px solid #FDFBEF;
    border-radius: 15px;
    background-color: #CAD0C2;
    font-weight: 700;
    font-size: 24px;
    color: #FDFBEF;
}

.button-send {
    width: 154px;
    height: 48px;
    border: 1px solid #2B1A08;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #F27127;
    font-weight: 700;
    font-size: 24px;
    color: #2B1A08;
}

.button-send:hover {
    width: 154px;
    height: 48px;
    border: 1px solid #2B1A08;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #EEA15F;
    font-weight: 700;
    font-size: 24px;
    color: #2B1A08;
}

.button-cancel {
    width: 154px;
    height: 48px;
    border: 1px solid #2B1A08;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #FDFBEF;
    font-weight: 700;
    font-size: 24px;
    color: #2B1A08;
}

.button-cancel:hover {
    width: 154px;
    height: 48px;
    border: 1px solid #2B1A08;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #FCFCFA;
    font-weight: 700;
    font-size: 24px;
    color: #2B1A08;
}
