<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>I-BANK</title>
    <link rel="icon" href="{{ url_for('static', filename = 'svg/watering.svg') }}" type="image/svg+xml">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename = 'js/websocket-communication.js') }}">
    </script>

    <script>
        var owlSemafor = true;

        function flyOwl1() {
            document.getElementById("owl").src = "../static/svg/owl-left.svg";
        }

        function flyOwl2() {
            document.getElementById("owl").src = "../static/svg/owl-right.svg";
        }

        function flyOwl3() {
            document.getElementById("owl").src = "../static/svg/owl-default-open.svg";
            owlSemafor = true;
        }

        function flyOwl() {
            owlSemafor = false;
            document.getElementById("owl").src = "../static/svg/owl-default-closed.svg";
            setTimeout(flyOwl1, 500);
            setTimeout(flyOwl2, 1000);
            setTimeout(flyOwl3, 1500);
        }

        function blinkOwl() {
            if (owlSemafor) {
                document.getElementById("owl").src = "../static/svg/owl-default-closed.svg";
            }
            setTimeout(defaultOwl, 1000);
        }

        function defaultOwl() {
            if (owlSemafor) {
                document.getElementById("owl").src = "../static/svg/owl-default-open.svg";
            }
            setTimeout(blinkOwl, (Math.floor(Math.random() * 5000)));
        }

        function init() {
            initWebSocket();
            showInit();
            blinkOwl();
        }

        function submitNewIdeaAndFly() {
            flyOwl();
            submitNewIdea();
        }
    </script>

</head>
<body onload="init()" id="slideshow">
<div class="container">
    <div class="header">
            <div class="app-name">
                I-TREE
            </div>
        <div class="header-submenu">
            <div class="header-submenu-active header-submenu-element">
                Planted Ideas
            </div>
            <div class="header-submenu-element">
                In progress
            </div>
            <div class="header-submenu-element">
                Archived
            </div>
            <div class="header-submenu-icon">
                <img src="../static/svg/information.svg" alt="information">
            </div>
            <div class="header-submenu-icon">
                <img src="../static/svg/volume-off.svg" alt="off">
            </div>

        </div>
            <div id="createButton" class="create-button-box">
                <button type="button" class="btn btn-primary create-button" onclick="showForm()">Plant your Idea</button>
            </div>
    </div>
    <div class="row">
        <div class="col owl-row">
            <img id="owl" src="../static/svg/owl-default-open.svg" alt="closed owl">
            <div class="header-card" id="headerColumn">
                <div class="header-text">
                    Your Idea was succesfully placed in our Bank. Thank you!
                </div>
            </div>
        </div>
    </div>
    <div class="row cards-row" id="rowCards">
        <div class="col">
            <div class="card">
                <div class="card-body" id="cardBody0">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" id="cardBody1">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" id="cardBody2">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cards-row two-col-row" id="rowCards2">
        <div class="col first-col">
            <div class="card">
                <div class="card-body" id="cardBody3">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" id="cardBody4">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cards-row" id="rowCards3">
        <div class="col">
            <div class="card">
                <div class="card-body" id="cardBody5">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" id="cardBody6">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body" id="cardBody7">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cards-row two-col-row" id="rowCards4">
        <div class="col first-col">
            <div class="card">
                <div class="card-body" id="cardBody8">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body card-body-filled" id="cardBody9">
                    <div class="text">
                    </div>
                    <div class="badge-with-icon">
                        <span class="badge"></span>
                        <img src="../static/svg/watering.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-row" id="createForm" hidden>
        <div class="col form-col">
            <form method="post" class="flex-column">
                <div class="form-group flex-row">
                    <div class="nick">
                        <input type="text" name="nick" id="nickInput" oninput="validateInputs()" class="nick-input"
                               placeholder="Post author"
                               value="{{ request.form['nick'] }}"></input>
                    </div>
                    <div class="info-group">
                        <div class="info">
                            <text class="info-label">When created:</text>
                            <text class="info-text" id="creationDate"></text>
                        </div>
                        <div class="info">
                            <text class="info-label">When disappears:</text>
                            <text class="info-text" id="disappearanceDate"></text>
                        </div>
                        <div class="info">
                            <text class="info-label">Likes:</text>
                            <text class="info-text"><b>001</b>&#09<img src="static/svg/watering.svg"/></text>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="subject" id="subjectInput" oninput="validateInputs()" class="subject-input"
                           placeholder="Post title"
                           value="{{ request.form['subject'] }}"></input>
                    <hr>
                </div>
                <div class="form-group left-right">
                                <textarea name="description" id="descriptionInput" oninput="validateInputs()" placeholder="Post a brief description of the idea"
                                          class="description-area">{{ request.form['body'] }}</textarea>
                </div>
                <div class="form-group button-group">
                    <button type="cancel" class="button-cancel" onclick="showInit()">Cancel</button>
                    <button id="submitButton" type="submit" class="button-send" onclick="submitNewIdeaAndFly()">Plant</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
<script src="{{ url_for('static', filename = 'js/rest-communication.js') }}">
</script>

</html>
